{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    "implicit-function",
    "function-composition",
    "pipe-operator-curry",
    "holes"
  ]
}
